{% if include.search %}
<input
  type="search"
  class="grid-search"
  placeholder="Search all {{include.search}}..."
  disabled="disabled"
/>
{% endif %}

<ul class="button-grid">
  {% for plugin in include.plugins %}
  <li data-search-terms="{{plugin.label}} {{plugin.name}}">
    <a href="{{ plugin.url | prepend: site.baseurl | prepend: site.url }}">
      <div class="logo-well">
        <img
          src="{{ plugin.logo_url | prepend: site.baseurl | prepend: site.url }}"
          class="logo"
        />
      </div>
      <span class="label"> {{ plugin.label }} </span>
    </a>
    {% if plugin.meltano_url %}
    <a
      href="{{plugin.meltano_url}}"
      class="meltano-badge"
      title="Meltano Optimized"
    >Meltano Optimized</a>
    {% endif %}
  </li>
  {% endfor %} {% if include.more_url %}
  <li>
    <a href="{{ include.more_url }}">
      <strong>{{ include.more_title }}</strong>
      <p>{{ include.more_description }}</p>
    </a>
  </li>
  {% endif %}
</ul>
